/* #header
================================================== */
header{
    padding: 122px 0 102px;
    &.header{
        &-page{
            display:flex;
            justify-content:space-between; 
            padding:40px 39px 75px;
            .logo{
                img{margin:0}
            }
        }
    }
    .logo{
        img{margin:0 auto;display:block;}
    }
    #main-menu{
        flex-direction:row;
        font-weight: 700;
        font-size: 24px;
        line-height: 25px;
        padding:0;
        gap: 18px;
        .menu-item{
            .nav-link{
                position: relative;
                color:$white;
                &:after{
                    content: '';
                    display: block;
                    height: 2px;
                    position: absolute;
                    bottom: 10px;
                    left: 0;
                    right: 0;
                    background-color:$white;
                }
                &.active,&:hover{
                    color:$primary;
                    &:after{
                        display:none;
                    }
                }
            }
        }
    }
}
// #main-nav{
//     padding: 5px 0;
//     height: 61px;
//     position: fixed;
//     z-index: 2;
//     width:100%;
//     &.sticky{
//         background:$white;
//     }
//     @media screen and (min-width:1200px){
//         .container{
//             max-width:calc(100% - 38px);
//             padding:0;
//             @include media-breakpoint-down(lg){
//                 max-width:944px;
//             }
//             @include media-breakpoint-down(md){
//                 max-width:720px;
//             }
//         }
//         .dropdown-menu{
//             width: 241px;
//             min-height: 350px;
//             border: 0;
//             box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
//             overflow: hidden;
//             padding: 21px 0 0;
//             margin-top: -3px;
//             &:after{
//                 content: url(../img/bg-dropdown-menu.png);
//                 position: absolute;
//                 right: -27px;
//                 bottom: -38px;
//                 z-index:0;
//             }
//             li{
//                 a{
//                     font-size: 13px;
//                     line-height: 19px;
//                     padding-bottom: 11px;
//                 }
//             }
//         }
//     }
//     #navbarNavDropdown{
//         height: 33px;
//         align-items: center;
//         line-height: 33px;
//         .dropdown-toggle{
//             &::after{
//                 color:$secondary;
//                 margin-left: 6px;
//                 top: 1px;
//                 position: relative;
//             }
//         }
//         &.show{
//             & > .navbar-nav {
//                 display: flex;
//             }
//         }
//     }
//     a{
//         color:$black;
//         font-weight: normal;
//         font-size: 13px;
//         line-height: 19px;
//     }
//     /* === #buttons === */
//     .btn-demo{
//         background-color: $white;
//         border: 1px solid $gray;
//         border-radius:0;
//         margin-right:10px;
//         margin-left:21px;
//         padding:0;
//         min-width:111px;
//         a{
//             font-weight: 600;
//         }
//     }
//     .btn-start{
//         background-color:$primary;
//         border-radius:2px;
//         padding:0;
//         min-width:111px;
//         a{
//             color:$white;
//             font-weight: 600;
//             &:hover{
//                 background-color:$primary-dark;
//             }
//         }
//     }
//     .navbar-toggler{
//         border:0;
//         padding:0 18px;
//         .navbar-toggler-icon{
//             background-image: url(../img/navbar-icon.svg);
//             height: 18px;
//         }
//     }
//     @include media-breakpoint-down(xs){
//         img{margin-left:15px;height:26px}
//     }
//     @media screen and (max-width:576px){
//         #main-menu{
//             display:none;
//         }
        
//     }
// }