/* #header
================================================== */
header{
    padding: 122px 0 102px;
    &.header{
        &-page{
            display:flex;
            justify-content:space-between; 
            padding:40px 39px 75px;
            .logo{
                img{margin:0}
            }
        }
    }
    .logo{
        img{margin:0 auto;display:block;}
    }
    #main-menu{
        flex-direction:row;
        font-weight: 700;
        font-size: 24px;
        line-height: 25px;
        padding:0;
        gap: 18px;
        .menu-item{
            .nav-link{
                position: relative;
                color:$white;
                &:after{
                    content: '';
                    display: block;
                    height: 2px;
                    position: absolute;
                    bottom: 10px;
                    left: 0;
                    right: 0;
                    background-color:$white;
                }
                &.active,&:hover{
                    color:$primary;
                    &:after{
                        display:none;
                    }
                }
            }
        }
    }
}
#wrp--slideout-menu{
    position: relative;
}
.slideout-menu {
    background-color:$black;
    position: absolute;
    left: -100%;
    transition: left .4s;
    top: 0;
    height: 100vh;
    width:100%;
    z-index: 3;
}

.slideout-menu.is-open {
    left: 0;
}

.slideout-menu ul {
    list-style: none;
    margin: 0;
    max-width: 776px;
    float: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 95px;
    padding:57px ​68px;
}

.slideout-menu ul li {
    display: block;
    margin: 0;
    padding: 0;
}

.slideout-menu ul li a {
    color: $white;
    display: block;
    font-size: 40px;
    font-weight:700;
    text-decoration: none;
    &:after{
        content: url(../img/icons/menu-arrow-left.svg);
        width:22px;
    }
}

.slideout-menu a.slideout-close {
    color: #888;
    display: block;
    font-size: 2em;
    padding:33px 41px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
}

.slideout-toggle {
    display: inline-block;
    padding:0 13px 0 17px;
    width:211px;
    height:64px;
    font-size: 24px;
    line-height:64px;
    border:solid 1px $primary;
}

.slideout-toggle span {
    background-color: #888;
    display: block;
    height: 2px;
    width: 100%;
    margin: 3px 0;
}
