#gender .page-gender--inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 44px 0 0;
  gap: 32px;
}
#gender .gender__button {
  background: url("../img/bg-button.png") no-repeat;
  background-size: contain;
  width: 638px;
  height: 166px;
  margin: 0 auto;
  border: 0;
}