#questionnaire .page-questionnaire--inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 75px 0 0;
  gap: 32px;
}
#questionnaire .questionnaire__button {
  background: url("../img/bg-button.png") no-repeat;
  background-size: contain;
  width: 638px;
  height: 166px;
  margin: 0 auto;
  border: 0;
}
#questionnaire .questionnaire__button-title {
  font-size: 48px;
  line-height: 56px;
  font-weight: 700;
}
#questionnaire .questionnaire__button-info {
  font-size: 27px;
  line-height: 27px;
}