.kadomi-perfumes-component{
    &__box{
        &-group {
            gap:41px;
            display: flex;
            flex-direction: column;
        }
        //brand
        &-brand{
            background:url("../img/bg-brand.jpg") no-repeat;
            background-size:contain;
            width:926px;
            height:302px;
            margin: 0 auto;
            border: 0;
            color:$white;
            display:flex;
            &-content{
                font-size: 35px;
                line-height: 35px;
                padding: 33px 61px 0 0;
                display: flex;
                flex-direction: column;
                &__text{
                    padding-right:4px;
                }
                &__show_more{
                    width: 149px;
                    height: 46px;
                    background-color:$black;
                    margin: 31px 0 19px;
                    text-align:center;
                    a{
                        font-size: 30px;
                        color:$primary;
                        line-height: 46px;
                    }
                }
            }
            &-img{
                min-width:325px;
                background-color:$white;
                display:flex;
                align-items:center;
                justify-content:center;
                border-left: 1px solid rgba(215, 189, 98, 0.41);
            }
        }
    }
}

